<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Про Flask - {{title}}</title>
    {% else %}
    <title>Про Flask</title>
    {% endif %}
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
</head>

<body>
    {% block content %}
        {% block mainmenu %}
            <ul class="nav">
                {% for m in menu %}
                    <li><a href="{{url_for('addPost')}}">{{m.name}}</a></li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% if title %}
    <h1 class="title">{{title}}</h1>
    {% else %}
    <h1 class="title">Про Flask</h1>
    {% endif %}
    {% endblock %}
</body>

</html>